Source: eabout
Section: gui
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>, Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), cdbs, automake, pkg-config, libecore-dev, libevas-dev, libedje-dev, liblops-dev, libkeys-dev, libeoi-dev (>= 0.2.1), libedje-bin
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, cdbs-embedded, automake, pkg-config, libedje-bin, oi-help-compiler
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, liblops-dev, libkeys-dev, libeoi-dev (>= 0.2.1)
Priority: optional
Standards-Version: 3.8.3

Package: eabout
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, oi-system-report, eabout-settings | eabout-settings-azbooka
Description: About dialog

Package: eabout-settings-azbooka
Priority: optional
Provides: eabout-settings
Architecture: any
Depends: eabout
Description: vendor specific data for eabout

Package: eabout-dbg
Priority: extra
Architecture: any
Depends: eabout (= ${binary:Version})
Section: debug
Description: About dialog -- debug symbols
